# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

VITE_SPOTIFY_CLIENT_ID=6f0b88fa09e34dd1a12d8585a1d14380
VITE_SPOTIFY_CLIENT_SECRET=8f20c3b3e2d0424993ba294eae3211bb